<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
           More info: h5bp.com/b/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Test</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- All JavaScript at the bottom-->

    <!--[if IE]>
    <script type="text/javascript">
        (function(){
            var html5elmeents = "address|article|aside|audio|canvas|command|datalist|details|dialog|figure|figcaption|footer|header|hgroup|keygen|mark|meter|menu|nav|progress|ruby|section|time|video".split('|');
            for(var i = 0; i < html5elmeents.length; i++){
                document.createElement(html5elmeents[i]);
            }
        }
        )();
    </script>
    <![endif]-->

</head>
<body>
<div></div>
<div id="full_wrapper">
    <div class="stretch_full clearfix addStretch" id="{{ALViewElement_wrapper}}">
        <aside id="leftNav">
            <header id="{{ALViewElement_homeHeaderNavTitle}}"></header>
            <ul id="{{ALViewElement_navItems}}">
                <li id="{{ALViewElement_homeItem}}">Home</li>
                <li id="{{ALViewElement_messagesItem}}">Messages</li>
                <li id="{{ALViewElement_adminAccessItem}}">Admin Access</li>
            </ul>
        </aside>
        <div id="mainContent">
            <div id="{{ALViewElement_viewSelectedContent}}">
                <header class="center">
                    <img id="{{ALViewElement_userImg}}" src="path/to/img/for/user/id/">
                    <h2 id="{{ALViewElement_userName}}"></h2>
                </header>
            </div>
        </div>
    </div>
</div>
</body>
</html>